.footer-col {
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    font-size: 1.5rem;
    background: var(--secondary-background);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.footer-text .link{
    color: var(--primary-btn-color);
}