
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');
:root{
    --primary-background : #121212;
    --secondary-background : #191919;
    --primary-text: #fff;
    --secondary-text: #999996;
    --primary-btn-color: #50FF6C;
    --primary-btn-color-hover: #40cf57;
}

body{
    background: var(--primary-background);
    color: var(--primary-text);
    font-family: 'Gilroy', sans-serif;
}

.main-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}