.card {
    background: transparent;
    justify-content: center;
    align-items: center;
}

.card-body {
    text-align: center;
}

img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.card-title {
    font-size: 3.5rem;
    margin: 0.8rem 0;
    font-weight: 500;
}

.card-text{
    color: var(--secondary-text);
}

.image-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
}
.image-container >div {
    position: absolute;
    z-index: -1;
}